.idea/
.vagrant/
.modman/
.dockercfg
/proxy/.vagrant/
/proxy/Vagrantfile.proxy
/proxy/Vagrantfile.proxy.TEMPLATE
/proxy/config.yaml
/proxy/config.yaml.TEMPLATE
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/*
!/bin/vagrant-up.sh
!/bin/setup.sh
!/bin/load-fixtures.sh
