AWS_ACCESS_KEY_ID:xxxxxxxxxxxxxxxx
AWS_SECRET_ACCESS_KEY:xxxxxxxxxxxxxxxx
SAUCE_LABS_USERNAME:xxxxxxxxxxxxxxxx
SAUCE_LABS_ACCESS_KEY:xxxxxxxxxxxxxxxx
DOCKER_USER_EMAIL:xxxxxxxxxxxxxxxx
DOCKER_USER_AUTH:xxxxxxxxxxxxxxxx