# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     wntt
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en

    mongo_database_server: "mongodb://%mongo.host%:%mongo.port%"
    mongo_database_name: wntt

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    wntt.email.from:  info@offshore.no
    wntt.email.admin: wntt.dev@gmail.com
    wntt.amazonses.host:  email-smtp.eu-west-1.amazonaws.com
    wntt.amazonses.port:  587
    wntt.amazonses.username:  AKIAI7HAYJH6QPB4NXIQ
    wntt.amazonses.password:  AkNwDxOhdQRqc2i3CMSbCka9J7jadcfzz8DN+Qfj+1d3